*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
}


pre {
  line-height: 2;
  font-size: 3rem;
  border: 2px solid #333;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 970px;
}

span {
  background: #333;
  box-shadow: 2px 3px 2px #333;
  color: #ffffff;
  padding: .1rem;
  margin: 0 0.1em;
  text-align: center;
  display: block;
}